body{
  /*background-color: grey;*/
  margin-top:50px;
}

.loginSection{
  
}

.loginPoint{
    margin-left: 30%;
    top:130px;
}

#userArea{
    display:block;
}

#Heading{
  margin-left:45%;
  padding:20px;
}
