<!DOCTYPE html>
<head>

</head>
<body>
  <div class="loginSection">
    <h3 id="Heading">FunQuotes</h3>
    <div class="loginPoint">
        <div class="card" style="width:550px;height:250px">
            <h6 style="margin-left:30%">Enter your Prefered Name</h6>
            <input type="text" [formControl]="userName" class="form-control">
            <br>
            <br>
            <button class="btn btn-primary" style="width:150px; align-self: center;" (click)="parseUserName()">Login</button>
            <h6 *ngIf='userHasLoggedIn' id="userArea"> Welcome {{ userName.value }}</h6>
        </div>
    </div>
    <app-quote-view *ngIf='userHasLoggedIn'[userName]='userName'></app-quote-view>
  </div>

</body>
