<h3 id="Header">All quotes in the quoteLibrary are to go Here</h3>
<h3>{{userName.value}} has Logged In!</h3>
<div *ngFor ='let quoteList of quoteList ; let i=index'>
    <div class="card" style="width:50%; left: 20%">
      <div class="card-header">
        <p></p>
      </div>
      <div class="card-body" >
        <div class="jumbotron jumbotron-fluid">
        </div>
        <p>"{{quoteList.saying}}"</p>
        <p>{{quoteList.sayor}}<p>
        <p>Posted by {{quoteList.poster}}</p>
        <p>Rating {{quoteList.rating}}</p>
        <button class="btn btn-primary" (click)='rateUp(i)'>Like</button>
      </div>
    </div>
    <br>
</div>
<!--<app-quote-creator></app-quote-creator>-->
