<!--h3 id="Header">All quotes in the quoteLibrary are to go Here</h3>-->
<!--<h3>{{userName.value}} has Logged In!</h3>-->
<div class="row">
<div *ngFor ='let QuoteLibrary of QuoteLibrary ; let i=index'>
  <div class="col col-sm">
    <div class="card" style="width:400px; left: 20%">
      <div class="card-header">
        <p></p>
      </div>
      <div class="card-body" >
        <div class="jumbotron jumbotron-fluid">
        </div>
        <p>"{{QuoteLibrary.saying}}"</p>
        <p style="font-style:italic">{{QuoteLibrary.sayor}}<p>
        <p>Posted by {{QuoteLibrary.poster}}</p>
        <p>Rating {{QuoteLibrary.rating}}</p>
        <button class="btn btn-primary" (click)='rateUp(i)'>Like</button>
        <div appHighestRated *ngIf="QuoteLibrary.rating> 5">
          <p>Highest Rated</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
</div>
<!--<app-quote-creator></app-quote-creator>-->
